@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300&display=swap');

.usersection {
  margin: 10px 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end 
}

.loginspace {
  margin-left: 8px;
  cursor: pointer;
}

.iconImg img {
  width: 100px;
}

.iconImg {
  display: flex;
  justify-content: center;
  margin: 40px 30px;
}

.iconImg img {
  cursor: pointer;
}

.navbarlist {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.navbarlist ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: center;
}

.navbarlist li {
  margin-top: 10px;
  margin-right: 20px;
  font-family: 'Gothic A1', sans-serif;
  cursor: pointer;
}

.navbarSearchIcon {
  position: absolute;
  right: 20px;
  border-bottom: 1px solid gray;
}

.navbarSearchIcon input {
  outline: none;
}

.navbarSearchIcon input {
  border: none;
}

.eachProductCard {
  width: 300px;
  margin: 15px 10px;
  background-color: white;
}
.eachProductCard img {
  width: 300px;
  margin-bottom: 10px;
  
  
}
.eachProductCard div {
  font-family: 'Gothic A1', sans-serif;
  font-size: 15px;
}

.eachProductCard:hover {
  transform: scale(1.1);
  z-index: 1;
}

.logincontainer {
  width: 500px;
  margin: 30px auto;
}

.detailbox {
margin-top: 20px;
}

.detailbox img {
  width: 350px;
  position: absolute;
  right: 50%;
}

.detailbutton {
  width: 100%;
  margin-top: 10px;
}

.sidebox {
  background-color: beige;
  height: 100vh;
  width: 250px;
  position: absolute;
  top: 0px;
  display: flex;
  justify-content: center;
  padding-top: 100px;
  text-align: center;
}

.sidemenu {
  list-style: none;
}

.sidemenu li {
  margin-bottom: 20px;
}

.sidebar {
  display: none;
  position: absolute;
  left: 10px;
  top: 10px;
}

.sideclose {
  position: absolute;
  top: 10px;
  left: 220px;
}

@media (max-width: 1080px) {
  .navbarSearchIcon{display: none;}
}
@media (max-width: 640px) {
  .navbarlist{display: none;}
  .eachProductCard{margin: 0 auto;}
  .sidebar {display: flex;}
}
